@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet-active {
  background: #7eb693 !important;
  z-index: 1 !important;
}
@media only screen and (max-width: 677px) {
  .swiper-pagination-bullet {
    transform: translate(0%, 20px);
    z-index: 1 !important;
  }
}
.deactiveMenu {
  transform: translateX(100%);
  transition: all 500ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.activeMenu {
  transform: translateX(0%);
  transition: all 500ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.active {
  color: #7eb693;
}
